@import "angular";

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10rem;
  padding-bottom: 14rem;
}

.title {
  color: var(--c-title);
  font-weight: 500;
  font-size: 16rem;
}

.material-icons {
  color: var(--c-icon);
  cursor: pointer;
}

.header-nav {
  color: var(--c-title);
}
