<a routerLink="/home">
    <span class="material-icons" [class.active-icon]="isRouteActive('/home')">home</span>
</a>
<a routerLink="/profile">
    <span class="material-icons" [class.active-icon]="isRouteActive('/profile')">person</span>
</a>
<a routerLink="/">
    <span class="material-icons" [class.active-icon]="isRouteActive('/')">chat</span>
</a>
<a routerLink="/">
    <span class="material-icons" [class.active-icon]="isRouteActive('/')">auto_stories</span>
</a>
<a routerLink="/">
    <span class="material-icons" [class.active-icon]="isRouteActive('/')">dark_mode</span>
</a>