:root {
    --font-family: "Roboto", sans-serif;

    --c-title: #595085;
    --c-secondary: #403572;
    --c-icon: #8B97A8;
    --c-icon-active: #3d3270;
    --c-orange: #ff3726;
    --c-orange-second: #ff5648;
    --c-blue: #61598b;
    --c-green: #479696;
    --c-pink: #c93f8d;
    --white: #fff;

    --bg-gradient-pink: linear-gradient(90deg, #25196b 0%, #d994a7 100%);
    --bg-gradient-green: linear-gradient(90deg, #25196b 0%, #94d9b4 100%);
    --bg-blue: #f6f5fb;
    --bg-orange: #fff4f4;
    --bg-green: #f5f9f9;
    --bg-pink: #fdf9fb;

    --b-radius: 15rem;
}